.search-icon {
    margin-left: 50px;
    fill: black;
    width: 20px;
    height: 20px;
  }
  
  .cart-in {
    font-size: 25px; /* Size of the cart icon */
    color: #333; /* Color of the cart */
    transition: color 0.3s ease;
    margin-left: 30px;
    margin-top: 3px;
  }
  
  .cart-in:hover {
    color: #007bff; /* Change color on hover */
  }
  /* Container for marquee */
  .marquee {
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
      background-color: aquamarine; height: 75px ; margin-top: 130px ;
  }
  
  /* Text animation */
  .marquee h1 {
      display: inline-block;
      animation: marquee 60s linear infinite;
      font-family: Oswald, sans-serif; margin-top: 10px;
  }
  
  /* Animation keyframes */
  @keyframes marquee {
      0% {
          transform: translateX(0);
      }
      100% {
          transform: translateX(-100%);
      }
  }
  .E-marquee {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background-color: aquamarine; height: 75px ;
  }

/* Text animation */
.E-marquee h1 {
    display: inline-block;
    animation: E-marquee 60s linear infinite;
    font-family: Oswald, sans-serif; margin-top: 10px;
}

/* Animation keyframes */
@keyframes E-marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
  
  .bac{
      background-image: url("D:\PADIPU\FULL STACK\HTML\Hotel Project\images\A-BG20.png");
      height: 680px;
      opacity: 0.5;
      position: absolute;
  }
  hr {
      border: none; /* Remove default styling */
      height: 2px; /* Line thickness */
      background-color: #ffffff; /* Line color */
      margin: 20px 0; /* Spacing above and below the line */
  }
  
  .in-animation412 {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .in-animation412.visible {
    opacity: 1;
    transform: translateY(0);
  }
  .in-animation51 {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .in-animation5.visible {
    opacity: 1;
    transform: translateX(0);
  }
  .in-animation61 {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .in-animation6.visible {
    opacity: 1;
    transform: translateX(0);
  }    
  .in-animation71 {
    opacity: 0;
    transform: scale(0.8);
    transition: transform 1s ease-out, opacity 1s ease-out;
  }
  
  .in-animation7.visible {
    opacity: 1;
    transform: scale(1);
  }
  .in-animation81 {
    opacity: 0;
    transform: scale(0.8);
    transition: transform 0.3s ease-out, opacity 1s ease-out;
  }
  
  .in-animation8.visible {
    opacity: 1;
    transform: scale(1);
  }
 
#home-hero-head-up{
    background-color: aquamarine;
    transition: 1s;
    cursor: pointer;
    width: 140px; height: 45px; border-radius: 50px; text-align: center; margin-left: 690px; margin-top: 40px; font-size: larger;
  }
  .e-up{
    margin-top: 160px;
  }
  .e-up h5{
    transition: 0.5s;
    padding: 10px 12px; font-size:medium; font-family:Oswald, sans-serif; font-weight:500; 
  }
  .e-up h5:hover{
    color: aquamarine;
  }
  .e-up:hover #e-home-fit-button
  {
    background-color: #202b36;
  }
/* .up .in-animation4:hover h5{
  background-color:#2 02b36;
  border-radius: 50px;
  color:  aquamarine;
} */
  .e-up .in-animation4:hover{
    transform: translateY(-10px);
    transition: 0.5s;
  }
  .up a{
    text-decoration: none; color: black;
  }

.count{
  background-color: #ffffff;
  margin-left: 30px;
  width: 350px;
  height: 200px;
  border-radius: 30px;
}
.bg{
    background-color: black; height: 1070px;
}
.A-bg1{
    position: absolute; width: 1535px; height: 900px; opacity: 0.5;
}
.home-nav{
    padding-top: 50px; position: relative;
}
.home-nav-in{
    margin-left: 160px; display: flex; background-color: white; border-radius: 30px; width: 1195px; height: 80px;
}
.home-nav-svg{
    width: 180px; margin-left: 20px; 
}
.home-nav-in-li{
    display: flex; font-weight: bold; font-size: large; margin-top: 24px; margin-left: 80px; 
}
.search-bar{
    margin-top: 25px; margin-left: 110px;
}
.home-nav-contact{
    width: 150px; height: 50px; margin-top: 15px;  text-align: center; border-radius: 50px; border: 2px solid rgb(126, 126, 126); margin-left: 20px
}
.home-nav-contact-h1{
    color: rgb(0, 0, 0); margin-top: 12px; font-weight: bolder; font-size: large;
}
.home-nav-in-ul
{
    text-decoration: none; color: black; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  font-weight: lighter;
}
.search-bar-i{
    margin-top: 26px; font-size: x-large;
}
#cart{
  margin-top: 26px; font-size: x-large;
}
.home-hero-h1{
  text-align: center; margin-top: 90px;
}
.home-hero-head{
  font-weight:bold;font-family: Oswald, sans-serif; color: white; font-size: 75px; letter-spacing: 3px; margin-top: 105px;
}
.e-count-head{
  font-family: Oswald, sans-serif; color: #202b36; font-size: 45px; letter-spacing: 3px;
}
.home-hero-h1-sub
{
  width: 100%; text-align: center; align-items: center;
}
.home-hero-para{
  width: 610px; margin-top: 30px; margin-left: 460px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color:rgb(255, 255, 255); font-weight: bolder; text-align: center; font-size: larger;
}
.e-bg2{
  width: 1535px; height: 1070px; position: absolute; background-color:#202b36; margin-top: 130px;
}
#contact{
  position: absolute; width: 1200px; height: 85px; background-color: rgb(203, 255, 238); margin-top: 100px; margin-left: 165px; border-radius: 30px;
}
.contact-div{
  display: flex; margin-top: 20px; margin-left: 30px;
}
#contact-phone{
  font-size: 30px; rotate: -35deg; margin-top: 5px;
}
.contact-number{
  margin-left: 10px; font-weight:500; margin-top: 8px;
}
#contact-location{
  font-size: xx-large; margin-top: 5px; margin-left: 30px;
}
.contact-add{
  margin-left: 10px; font-weight:500; margin-top: 8px;
}
.contact-email{
  height: 45px; width: 400px; background-color: #ffffff; border-radius: 30px; border: 1px solid #ffffff; padding: 10px 20px; color: white; margin-left: 100px;
}
.contact-head{
  width: 150px; height: 45px; border-radius: 50px; background-color: #202b36; text-align: center; margin-left: 10px;
}
.contact-head h5{
  padding: 12px; font-size: medium; font-family:Oswald, sans-serif; color: white; letter-spacing: 1px;
}
.home-head2{
  position: absolute; margin-top: 300px;
}
.home-head-div{
  display: flex;
}
.home-head-div-img{
  border-radius: 30px; width: 500px; height: 350px; margin-left: 205px;
}
.home-head-div-para{
  margin-left: 80px; width: 580px;
}
.home-head-div-sub{
  width: 580px; margin-top: 30px;
}
.home-head-div-sub h1{
  font-family: Oswald, sans-serif; color: white; font-size: 50px; font-weight: 900; letter-spacing: 5px;
}
.home-head-div-sub h6{
  color: white; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#home-hero-up
{
  width: 140px; height: 50px; border-radius: 50px; background-color: aquamarine; text-align: center; margin-top: 50px; margin-bottom: 30px;
}
#home-hero-up-h{
  padding: 15px 15px; font-size: medium; color: black; font-family: Oswald, sans-serif; letter-spacing: 1px; font-weight: bolder;
}
#home-hero-div-h6{
  color: white; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contact-get{
  width: 150px; height: 45px; border-radius: 50px; background-color: #202b36; text-align: center; margin-left: 10px;
}
.contact-get h5{
  padding: 12px; font-size: medium; font-family:Oswald, sans-serif; color: white; letter-spacing: 1px;
}
#main-box{
  width: 1100px; margin-left: 210px; background-color: white; border-radius: 30px; position: absolute; height: 600px; margin-top: 120px;
}
.box-1{
  width: 530px; position: absolute; margin-top: 40px; margin-left: 30px;
}
#box-1-head{
  font-weight: 700; font-family:Oswald, sans-serif;
}
#box-1-button
{
  width: 120px; height: 40px; border-radius: 50px; text-align: center; margin-top: 40px; background-color: aquamarine;
}
.box-1-button-head{
  font-size: medium; padding: 10px 12px; font-family: Oswald, sans-serif; 
}
.box-2{
  width: 550px; height: 300px; background-color: black; margin-left: 550px;  border-radius: 0 30px 0 0; position: absolute;
}
.box-2-img{
  width: 550px; height: 300px;  border-radius: 0 30px 0 0; opacity: 0.8; position: absolute;
}
#box-2-div{
  font-family:Oswald, sans-serif; position: absolute; color: white; font-size: 42px; font-weight: 700; width: 400px; line-height: 1.2em; letter-spacing: 2px; margin-top: 178px; margin-left: 20px;
}
.box-3{
  width: 550px; height: 300px; background-color: black;  border-radius: 0 0 0 30px; position: absolute; margin-top: 300px;
}
.box-3-img
{
  width: 551px; height: 300px;  border-radius: 0 0 0 30px; opacity: 0.8; position: absolute;
}
#box-3-div{
  font-family:Oswald, sans-serif; position: absolute; color: white; font-size: 45px; font-weight: 700; width: 400px; line-height: 1.2em; letter-spacing: 2px; margin-left: 25px; margin-top: 218px;
}
.box-4{
  width: 500px; position: absolute; margin-top: 40px; margin-left: 580px; margin-top: 340px;
}
#box-4-head{
  font-weight: 700; font-family:Oswald, sans-serif;
}
#box-4-button{
  width: 120px; height: 40px; border-radius: 50px; text-align: center; margin-top: 40px;background-color: aquamarine;;
}
.box-4-button-head
{
  font-size: medium; padding: 10px 12px; font-family: Oswald, sans-serif;
}
#e-para{
  text-align: center; width: 100%; margin-top: 235px;
}
.para-head{
  font-family: Oswald, sans-serif; font-weight: bolder; text-align: center; align-items: center; letter-spacing: 2px; line-height: 1.5em; color: var(--primary-dark); font-size: 42px;
}
#e-para-button{
  width: 170px; height: 50px; border-radius: 50px; text-align: center; margin-left: 660px; margin-top: 50px; background-color: aquamarine;
}
.para-button-head{
  padding: 15px 15px; font-size: medium; font-family: Oswald, sans-serif; letter-spacing: 1px;
}
.frame{
  width: 1100px; height: 600px; margin-left: 210px; margin-top: 130px;
}
.frame-1{
  width: 550px; height: 280px; border-radius: 30px;
}
.frame-2-3{
  width: 255px; height: 280px; border-radius: 30px; margin-left: 20px;
}
.frame-4{
  width: 265px; height: 280px; border-radius: 30px;
}
.frame-5{
  width: 265px; height: 280px; border-radius: 30px; margin-left: 20px; 
}
.frame-6{
  width: 530px; height: 280px; border-radius: 30px; margin-left: 20px;
}
.experience{
  background-color: black; height: 420px;
}
.experience-img{
  width: 100%; height: 620px; opacity: 0.5; position: absolute;
}
#experience-button{
  width: 150px; height: 45px; border-radius: 50px; text-align: center; margin-left: 1160px; margin-top: 200px; background-color: aquamarine;
}
#experience-button h5{
  padding: 10px 15px; font-size: medium; font-family: Oswald, sans-serif; letter-spacing: 1px;
}
.experience-head{
  color: white; font-family: Oswald, sans-serif; font-weight: bolder; font-size: 50px; letter-spacing: 2px;
}
.home-fit
{
  background-color: #202b36; height: 1320px; position: relative;
}
.home-fit-div{
  position: absolute; margin-top: 160px; 
}
.home-fit-div1{
  display: flex; position: absolute;
}
#home-fit-div2
{
  width: 580px; margin-left: 185px
}
.home-fit-main{
  width: 580px; margin-top: 30px;
}
.home-fit-main h1{
  font-family: 'Fjalla One', sans-serif; color: white; font-size: 50px; font-weight: 900; letter-spacing: 5px;
}
.home-fit-main h6{
  color: white; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; margin-top: 20px; font-size: larger;
}
.home-fit-main-div
{
  width: 170px; height: 50px; border-radius: 50px; background-color: aquamarine; text-align: center; margin-top: 30px;
}
.home-fit-main-div h5{
  padding: 12px 12px; font-size: medium; font-family: Oswald, sans-serif;letter-spacing: 1px;
}
.home-fit-img
{
  border-radius: 30px; width: 500px; height: 350px; margin-left: 80px;
}
#home-fit-button
{
  width: 100px; height: 45px; border-radius: 50px; background-color: aquamarine; text-align: center; margin-left: 1180px; margin-top: 200px;  font-size: larger;
}
#e-home-fit-button
{
  width: 150px; height: 45px; border-radius: 50px; background-color: aquamarine; text-align: center; margin-left: 1180px; margin-top: 20px;  font-size: larger;
}
.home-fit-button-head{
  padding: 12px; font-size: larger; font-weight: bolder; color: black;
}
#e-home-fit-next-div
{
  padding-top: 250px; padding-left: 190px; align-items: center; width: 1100px;
}
#e-home-fit-next-div h1{
  color: white; font-family: Oswald, sans-serif; font-weight: bolder; font-size: 50px; letter-spacing: 2px;
}
#e-home-fit-next-div p
{
  color: white; font-size:large
}
#e-home-fit-next-divs
{
 padding-left: 190px; align-items: center; width: 1000px; padding-top: 120px;
}
#e-home-fit-next-divs h1{
  color: #202b36; font-family: Oswald, sans-serif; font-weight: bolder; font-size: 50px; letter-spacing: 2px;
}
#e-home-fit-next-divs p
{
  color: #202b36; font-size:large
}
.price{
  display: flex; width: 1100; height: 600px; padding-top: 800px; margin-left: 175px;
}
.price .in-animation4
{
  margin-left: 20px;
}
.E-price-img{
  border-radius: 30px; width: 17.5vw; height: 49vh;  position: absolute; object-fit: fill; object-fit: cover;
}
.E-price-head{
  font-family: Oswald, sans-serif; color: #1e2837; font-weight: bolder; margin-top: 20px;
}
.price-head2{
  color: white; font-weight: bolder; text-decoration: line-through; margin-left: 10px;
}
.e-price{
  display: flex; width: 1100; height: 430px; margin-top: 70px; margin-left: 175px;
}
.e-price .in-animation4
{
  margin-left: 20px; position: relative;
 
}
.e-price-img{
  border-radius: 30px; width: 17.5vw; height: 49vh; 
}
.e-price-head{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: aquamarine; font-weight: bolder; margin-top: 20px;
}
.e-price-head2{
  color: white; font-weight: bolder; text-decoration: line-through; margin-left: 10px;
}
.home-location
{
  background-color: black; height: 680px; position: relative;
}
.home-location-img
{
  opacity: 0.5; width: 100%; height: 680px; position: absolute;
}
.home-location-div
{
  width: 1200px; height: 400px; padding-top: 140px; border-radius: 30px;  position: absolute;  margin-left: 150px; background-color: white; opacity: 0.9;
}
.home-location-img2
{
  position: absolute; height: 400px; width: 700px; border-radius: 0 30px 30px 0; margin-left: 650px;
}
.home-location-content
{
  position: absolute; margin-left: 200px; margin-top: 80px;
}
.home-location-head
{
  font-family: Oswald, sans-serif; font-weight: 700;
}
.home-location-head2
{
  font-family: Oswald, sans-serif; font-weight: 700;
}
.home-location-i{
  display: flex; margin-top: 40px;
}
.home-location-icon
{
  margin-right: 20px; color: rgb(0, 0, 0); font-size: large;
}
.home-location-icon2
{
  color: rgb(0, 0, 0); font-size: large;
}
#home-location-icon-main
{
  font-size: xxx-large; margin-top: 128px; margin-left: 975px; color: aquamarine;
}
.e-image{
    position: absolute;
    width: 1100px;
    height: 450px;
    align-items: center;
    border-radius: 20px;
    opacity: 0.8;
}
.e-count-container
{
  display:'flex';
  text-align: center;
  width: 350px;
  height: 180px;
  background-color: rgb(240, 253, 255);
  padding: 10px;
  border-radius: 30px;
  margin-right: 20px;
  margin-top: 550px;
}
.e-counts{
  position:relative;
  display:flex;
   justify-content: center;
   margin-left: 20px;
}
.e-count
{
  width: 250px;
  text-align: center;
  margin-left: 40px;
  margin-top: 10px;

}
.e-last-image{
display: flex;
}
.e-last-image img{
width: 20%;
height: 260px;
}
.E-price-new-div{
  background-image: linear-gradient(320deg, #68e5b2cc, #d0e3fecc);  border-radius: 30px;
  border: 1px solid #68e5b2;
  height: 90px;
  width: 270px;
  position: absolute;
  text-align: center;
  margin-top: 310px;
  backdrop-filter: blur(5px);
  color: #1e2837;
  font-size: 18px;
 
}
.e-hole-div{
  /* position: absolute; */
  margin-right: 270px;
 
}