.footer{
    display: flex; background-color:#202b36 ; padding-top: 95px; padding-left: 170px;
}
.footerhead{
    color: white; font-family: Oswald, sans-serif; font-weight: 700; letter-spacing: 2px;
}
.footerpara{
    color: white; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; margin-top: 40px;
}
.footerdiv{
    display: flex; margin-top: 40px;
}
.footericon{
    margin-right: 20px; color: white; font-size: large;
}
.footerh4{
    color: white; font-family: Oswald, sans-serif; font-weight: 700; letter-spacing: 2px; margin-left: 30px;
}
.footerinput
{
    height: 45px; width: 400px; background-color: #626262; border-radius: 30px; border: 1px solid #626262; margin-top: 40px; padding: 10px 20px; color: white; margin-left: 30px;
}
.footerdiv2{
    width: 150px; height: 45px; border-radius: 50px; background-color: aquamarine; text-align: center; margin-top: 40px; margin-left: 20px;
}
.footerdiv2 h5{
    padding: 12px; font-size: medium; font-weight: bolder;
}
.footerlist{
    display: flex; font-weight: bold; font-size: large; margin-top: 50px; 
}
.footerul{
    text-decoration: none; color: rgb(255, 255, 255); font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: lighter; 
}